body {
  background-color: teal;
  }
  
 #box {
   width: 100px;
   height: 100px;
   box-sizing: border-box;
   animation: magic 2.5s alternate;
   animation-iteration-count: infinite;
 }
 
 @keyframes magic {
    0% {background-color: green;
	   border: 5px dotted  black;
	color: white;

	}
	50%{ 
	background-color: lightpink;
	border-raius: 35%;
    transform: translate(850px,150px) rotate3d(5,0,3,-855deg) scale(2, 2.5);
	 }
    100% {background-color: red;
	border:10px dashed white;
	color: black;
    transform: translate(250px,300px) rotate3d(2,7,0,765deg) scale(.15, .25);
 }
 
 }
 
 p {
   font-size: 25px;
   font-family:'Shadows Into Light', cursive;
   text-align: center;
   margin: 0 auto;
   }
 
}
